/*MAIN PAGE*/
.navbar-bc-color {
    background-color: #f2e8f0;
}

h2 {
    margin-top: 30px;
}

li {
    margin-bottom: 50px;
    list-style-type: none;
}

li p:hover {
        overflow: hidden;
        transform: scale(1.3);
        transition: transform 0.6s ease-in-out;
        opacity: 0.8;
    }

main img {
    width: 300px;
    height: 200px;
    margin: 30px;
}


/*RESPONSIVE*/
@media all and (max-width:400px) {
    h1 {
        font-size: 30px;
    }

    main img {
        width: 250px;
        height: auto;
        margin: 20px;
    }
}
